<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p>Congratualtions! Good job!</p>
    <p>Here's a UNICORN for you!</p>
    <img src="https://cdn.shopify.com/s/files/1/2551/6908/products/unicorn-01_300x.png?v=1543257623" alt="">
    <%= yield %>
  </body>
</html>
