<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      b {
        text-transform: capitalize;
      }
    </style>
  </head>

  <body>
    <p>Congratualtions! Good job!</p>
    <p>You have completed <b class="mail-name"><%= @task.name  %></b> Task in <b class="mail-name"><%= @list.name  %></b> List!</p>
    <p>Here's a UNICORN for you!</p>
    <%= image_tag(attachments['unicorn.png'].url) %>
    <%= yield %>
  </body>
</html>
