#list-show {
  .row {
    margin: 10px 20px 30px 20px;
  }

  .fa-circle {
    margin: 0px 5px 0px 0px;
    color: #109CF1;
  }

  h1{
    margin: 20px 0px 30px 10px;
  }

  h2{
    margin: 20px 0px 30px 10px;
  }
}
