#list-show {
  .row {
    margin: 10px 20px 30px 20px;
  }

  .fa-circle {
    margin: 0px 5px 0px 0px;
    color: #109CF1;
  }

  h1 {
    text-decoration: underline #109CF1;
    margin: 20px 0px 30px 10px;
  }

  h2 {
    text-decoration: underline #aad6ef;
    margin: 20px 0px 30px 10px;
  }

  .modal-title {
    text-decoration: underline #109CF1;
  }
}
